$NADESHIKO         = #DC9FB4	// 撫子
$KOHBAI            = #E16B8C	// 紅梅
$SUOH              = #8E354A	// 蘇芳
$TAIKOH            = #F8C3CD	// 退紅
$IKKONZOME         = #F4A7B9	// 一斥染
$KUWAZOME          = #64363C	// 桑染
$MOMO              = #F596AA	// 桃
$ICHIGO            = #B5495B	// 苺
$USUBENI           = #E87A90	// 薄紅
$IMAYOH            = #D05A6E	// 今様
$NAKABENI          = #DB4D6D	// 中紅
$SAKURA            = #FEDFE1	// 桜
$UMENEZUMI         = #9E7A7A	// 梅鼠
$KARAKURENAI       = #D0104C	// 韓紅花
$ENJI              = #9F353A	// 燕脂
$KURENAI           = #CB1B45	// 紅
$TOKI              = #EEA9A9	// 鴇
$CYOHSYUN          = #BF6766	// 長春
$KOKIAKE           = #86473F	// 深緋
$SAKURANEZUMI      = #B19693	// 桜鼠
$JINZAMOMI         = #EB7A77	// 甚三紅
$AZUKI             = #954A45	// 小豆
$SUOHKOH           = #A96360	// 蘇芳香
$AKABENI           = #CB4042	// 赤紅
$SHINSYU           = #AB3B3A	// 真朱
$HAIZAKURA         = #D7C4BB	// 灰桜
$KURIUME           = #904840	// 栗梅
$EBICHA            = #734338	// 海老茶
$GINSYU            = #C73E3A	// 銀朱
$KUROTOBI          = #554236	// 黒鳶
$BENITOBI          = #994639	// 紅鳶
$AKEBONO           = #F19483	// 曙
$BENIKABA          = #B54434	// 紅樺
$MIZUGAKI          = #B9887D	// 水がき
$SANGOSYU          = #F17C67	// 珊瑚朱
$BENIHIWADA        = #884C3A	// 紅檜皮
$SYOJYOHI          = #E83015	// 猩猩緋
$ENTAN             = #D75455	// 鉛丹
$SHIKANCHA         = #B55D4C	// 芝翫茶
$HIWADA            = #854836	// 檜皮
$KAKISHIBU         = #A35E47	// 柿渋
$AKE               = #CC543A	// 緋
$TOBI              = #724832	// 鳶
$BENIHI            = #F75C2F	// 紅緋
$KURIKAWACHA       = #6A4028	// 栗皮茶
$BENGARA           = #9A5034	// 弁柄
$TERIGAKI          = #C46243	// 照柿
$EDOCHA            = #AF5F3C	// 江戸茶
$ARAISYU           = #FB966E	// 洗朱
$MOMOSHIOCHA       = #724938	// 百塩茶
$KARACHA           = #B47157	// 唐茶
$TOKIGARACHA       = #DB8E71	// ときがら茶
$OHNI              = #F05E1C	// 黄丹
$SOHI              = #ED784A	// 纁
$ENSYUCHA          = #CA7853	// 遠州茶
$KABACHA           = #B35C37	// 樺茶
$KOGECHA           = #563F2E	// 焦茶
$AKAKOH            = #E3916E	// 赤香
$SUZUMECHA         = #8F5A3C	// 雀茶
$SHISHI            = #F0A986	// 宍
$SODENKARACHA      = #A0674B	// 宗伝唐茶
$KABA              = #C1693C	// 樺
$KOKIKUCHINASHI    = #FB9966	// 深支子
$KURUMI            = #947A6D	// 胡桃
$TAISYA            = #A36336	// 代赭
$ARAIGAKI          = #E79460	// 洗柿
$KOHROZEN          = #7D532C	// 黄櫨染
$AKAKUCHIBA        = #C78550	// 赤朽葉
$TONOCHA           = #985F2A	// 礪茶
$AKASHIROTSURUBAMI = #E1A679	// 赤白橡
$SENCHA            = #855B32	// 煎茶
$KANZO             = #FC9F4D	// 萱草
$SHAREGAKI         = #FFBA84	// 洒落柿
$BENIUKON          = #E98B2A	// 紅鬱金
$UMEZOME           = #E9A368	// 梅染
$BIWACHA           = #B17844	// 枇杷茶
$CHOJICHA          = #96632E	// 丁子茶
$KENPOHZOME        = #43341B	// 憲法染
$KOHAKU            = #CA7A2C	// 琥珀
$USUGAKI           = #ECB88A	// 薄柿
$KYARA             = #78552B	// 伽羅
$CHOJIZOME         = #B07736	// 丁子染
$FUSHIZOME         = #967249	// 柴染
$KUCHIBA           = #E2943B	// 朽葉
$KINCHA            = #C7802D	// 金茶
$KITSUNE           = #9B6E23	// 狐
$SUSUTAKE          = #6E552F	// 煤竹
$USUKOH            = #EBB471	// 薄香
$TONOKO            = #D7B98E	// 砥粉
$GINSUSUTAKE       = #82663A	// 銀煤竹
$OHDO              = #B68E55	// 黄土
$SHIRACHA          = #BC9F77	// 白茶
$KOBICHA           = #876633	// 媚茶
$KIGARACHA         = #C18A26	// 黄唐茶
$YAMABUKI          = #FFB11B	// 山吹
$YAMABUKICHA       = #D19826	// 山吹茶
$HAJIZOME          = #DDA52D	// 櫨染
$KUWACHA           = #C99833	// 桑茶
$TAMAGO            = #F9BF45	// 玉子
$SHIROTSURUBAMI    = #DCB879	// 白橡
$KITSURUBAMI       = #BA9132	// 黄橡
$TAMAMOROKOSHI     = #E8B647	// 玉蜀黍
$HANABA            = #F7C242	// 花葉
$NAMAKABE          = #7D6C46	// 生壁
$TORINOKO          = #DAC9A6	// 鳥の子
$USUKI             = #FAD689	// 浅黄
$KIKUCHIBA         = #D9AB42	// 黄朽葉
$KUCHINASHI        = #F6C555	// 梔子
$TOHOH             = #FFC408	// 籐黄
$UKON              = #EFBB24	// 鬱金
$KARASHI           = #CAAD5F	// 芥子
$HIGOSUSUTAKE      = #8D742A	// 肥後煤竹
$RIKYUSHIRACHA     = #B4A582	// 利休白茶
$AKU               = #877F6C	// 灰汁
$RIKYUCHA          = #897D55	// 利休茶
$ROKOHCHA          = #74673E	// 路考茶
$NATANEYU          = #A28C37	// 菜種油
$UGUISUCHA         = #6C6024	// 鶯茶
$KIMIRUCHA         = #867835	// 黄海松茶
$MIRUCHA           = #62592C	// 海松茶
$KARIYASU          = #E9CD4C	// 刈安
$NANOHANA          = #F7D94C	// 菜の花
$KIHADA            = #FBE251	// 黄蘗
$MUSHIKURI         = #D9CD90	// 蒸栗
$AOKUCHIBA         = #ADA142	// 青朽葉
$OMINAESHI         = #DDD23B	// 女郎花
$HIWACHA           = #A5A051	// 鶸茶
$HIWA              = #BEC23F	// 鶸
$UGUISU            = #6C6A2D	// 鶯
$YANAGICHA         = #939650	// 柳茶
$KOKE              = #838A2D	// 苔
$KIKUJIN           = #B1B479	// 麹塵
$RIKANCHA          = #616138	// 璃寛茶
$AIKOBICHA         = #4B4E2A	// 藍媚茶
$MIRU              = #5B622E	// 海松
$SENSAICHA         = #4D5139	// 千歳茶
$BAIKOCHA          = #89916B	// 梅幸茶
$HIWAMOEGI         = #90B44B	// 鶸萌黄
$YANAGIZOME        = #91AD70	// 柳染
$URAYANAGI         = #B5CAA0	// 裏柳
$IWAICHA           = #646A58	// 岩井茶
$MOEGI             = #7BA23F	// 萌黄
$NAE               = #86C166	// 苗
$YANAGISUSUTAKE    = #4A593D	// 柳煤竹
$MATSUBA           = #42602D	// 松葉
$AONI              = #516E41	// 青丹
$USUAO             = #91B493	// 薄青
$YANAGINEZUMI      = #808F7C	// 柳鼠
$TOKIWA            = #1B813E	// 常磐
$WAKATAKE          = #5DAC81	// 若竹
$CHITOSEMIDORI     = #36563C	// 千歳緑
$MIDORI            = #227D51	// 緑
$BYAKUROKU         = #A8D8B9	// 白緑
$OITAKE            = #6A8372	// 老竹
$TOKUSA            = #2D6D4B	// 木賊
$ONANDOCHA         = #465D4C	// 御納戸茶
$ROKUSYOH          = #24936E	// 緑青
$SABISEIJI         = #86A697	// 錆青磁
$AOTAKE            = #00896C	// 青竹
$VELUDO            = #096148	// ビロード
$MUSHIAO           = #20604F	// 虫襖
$AIMIRUCHA         = #0F4C3A	// 藍海松茶
$TONOCHA2          = #4F726C	// 沈香茶
$AOMIDORI          = #00AA90	// 青緑
$SEIJI             = #69B0AC	// 青磁
$TETSU             = #26453D	// 鉄
$MIZUASAGI         = #66BAB7	// 水浅葱
$SEIHEKI           = #268785	// 青碧
$SABITETSUONANDO   = #405B55	// 錆鉄御納戸
$KORAINANDO        = #305A56	// 高麗納戸
$BYAKUGUN          = #78C2C4	// 白群
$OMESHICHA         = #376B6D	// 御召茶
$KAMENOZOKI        = #A5DEE4	// 瓶覗
$FUKAGAWANEZUMI    = #77969A	// 深川鼠
$SABIASAGI         = #6699A1	// 錆浅葱
$MIZU              = #81C7D4	// 水
$ASAGI             = #33A6B8	// 浅葱
$ONANDO            = #0C4842	// 御納戸
$AI                = #0D5661	// 藍
$SHINBASHI         = #0089A7	// 新橋
$SABIONANDO        = #336774	// 錆御納戸
$TETSUONANDO       = #255359	// 鉄御納戸
$HANAASAGI         = #1E88A8	// 花浅葱
$AINEZUMI          = #566C73	// 藍鼠
$MASUHANA          = #577C8A	// 舛花
$SORA              = #58B2DC	// 空
$NOSHIMEHANA       = #2B5F75	// 熨斗目花
$CHIGUSA           = #3A8FB7	// 千草
$OMESHIONANDO      = #2E5C6E	// 御召御納戸
$HANADA            = #006284	// 縹
$WASURENAGUSA      = #7DB9DE	// 勿忘草
$GUNJYO            = #51A8DD	// 群青
$TSUYUKUSA         = #2EA9DF	// 露草
$KUROTSURUBAMI     = #0B1013	// 黒橡
$KON               = #0F2540	// 紺
$KACHI             = #08192D	// 褐
$RURI              = #005CAF	// 瑠璃
$RURIKON           = #0B346E	// 瑠璃紺
$BENIMIDORI        = #7B90D2	// 紅碧
$FUJINEZUMI        = #6E75A4	// 藤鼠
$TETSUKON          = #261E47	// 鉄紺
$KONJYO            = #113285	// 紺青
$BENIKAKEHANA      = #4E4F97	// 紅掛花
$KONKIKYO          = #211E55	// 紺桔梗
$FUJI              = #8B81C3	// 藤
$FUTAAI            = #70649A	// 二藍
$OUCHI             = #9B90C2	// 楝
$FUJIMURASAKI      = #8A6BBE	// 藤紫
$KIKYO             = #6A4C9C	// 桔梗
$SHION             = #8F77B5	// 紫苑
$MESSHI            = #533D5B	// 滅紫
$USU               = #B28FCE	// 薄
$HASHITA           = #986DB2	// 半
$EDOMURASAKI       = #77428D	// 江戸紫
$SHIKON            = #3C2F41	// 紫紺
$KOKIMURASAKI      = #4A225D	// 深紫
$SUMIRE            = #66327C	// 菫
$MURASAKI          = #592C63	// 紫
$AYAME             = #6F3381	// 菖蒲
$FUJISUSUTAKE      = #574C57	// 藤煤竹
$BENIFUJI          = #B481BB	// 紅藤
$KUROBENI          = #3F2B36	// 黒紅
$NASUKON           = #572A3F	// 茄子紺
$BUDOHNEZUMI       = #5E3D50	// 葡萄鼠
$HATOBANEZUMI      = #72636E	// 鳩羽鼠
$KAKITSUBATA       = #622954	// 杜若
$EBIZOME           = #6D2E5B	// 蒲葡
$BOTAN             = #C1328E	// 牡丹
$UMEMURASAKI       = #A8497A	// 梅紫
$NISEMURASAKI      = #562E37	// 似紫
$TSUTSUJI          = #E03C8A	// 躑躅
$MURASAKITOBI      = #60373E	// 紫鳶
$SHIRONERI         = #FCFAF2	// 白練
$GOFUN             = #FFFFFB	// 胡粉
$SHIRONEZUMI       = #BDC0BA	// 白鼠
$GINNEZUMI         = #91989F	// 銀鼠
$NAMARI            = #787878	// 鉛
$HAI               = #828282	// 灰
$SUNEZUMI          = #787D7B	// 素鼠
$RIKYUNEZUMI       = #707C74	// 利休鼠
$NIBI              = #656765	// 鈍
$AONIBI            = #535953	// 青鈍
$DOBUNEZUMI        = #4F4F48	// 溝鼠
$BENIKESHINEZUMI   = #52433D	// 紅消鼠
$AISUMICHA         = #373C38	// 藍墨茶
$BINROJIZOME       = #3A3226	// 檳榔子染
$KESHIZUMI         = #434343	// 消炭
$SUMI              = #1C1C1C	// 墨
$KURO              = #080808	// 黒
$RO                = #0C0C0C	// 呂
