@import "nippon-colors.styl";

// $border-radius-inner            = 0 0 20px 20px;
// $border-radius                  = 20px;
// $note-border-radius             = 10px;

$headband-height                = 0;
$brand-bg                       = $SUMIRE;

$link-hover-color               = $RURIKON;
$link-decoration-hover-color    = $RURIKON;

$btn-default-hover-bg           = white;
$btn-default-hover-color        = $KONJYO;
$btn-default-hover-border-color = $KONJYO;

$body-bg-color                  = #f5f7f9;

$tag-cloud-start                = $KOHBAI;
$tag-cloud-end                  = $SUMIRE;